.stat_ctn {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding: 1.6rem;
  gap: 3.2rem;
  align-items: flex-start;
}

.statbox_ctn {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  /* align-self: flex-start; */
}

.head_ctn {
  padding: 1.6rem;
  color: #434a54;
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.6rem;
}

.piechart_ctn {
  /* margin: 0 auto; */
  align-items: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 1.6rem;
}

.loading_sub {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 1.6rem;
  align-items: flex-end;
}

.error_stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-top: 4rem;
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  line-height: 2rem;
  padding: 2rem;
}

.stat_revenue_ctn {
  display: flex;
  gap: 2rem;
  padding: 1.6rem;
}

.lineGraph_ctn {
  margin-top: 4.2rem;
}

.margin_class {
  margin-bottom: 6rem;
}

.bookingData_ctn {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 3.2rem 1.6rem;
}

.booking_list_ctn {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 110vh;
  min-height: 80vh;
}

.booking_card_ctn {
  padding: 1rem;
}

.booking_noData {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 3rem;
}

.paginate_ctn {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1.2rem 0.6rem;
  color: #000;
}

.btn_ctn {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0.6rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  color: #fff;
  background-color: #434a54;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

/*  2nd section    */

.booking_view_ctn {
  margin-top: 24rem;
}

.search_ctn {
  display: flex;
  width: 50%;
  padding-top: 4rem;
  padding-left: 1.6rem;
  margin-bottom: 4.8rem;
}

.search_btn_ctn {
  background-color: #1bbc9b;
  color: #fff;
  width: 4rem;
  height: 4rem;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}

.search_input {
  width: 100%;
  padding: 0.8rem;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.email_booking_ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.booking_view_ctn_2 {
  margin-top: -7rem;
}

@media (max-width: 56.25em) {
  .stat_ctn {
    grid-template-columns: 1fr;
  }
  .statbox_ctn {
    grid-template-columns: 1fr;
  }

  .bookingData_ctn {
    grid-template-columns: 1fr;
  }

  .booking_view_ctn {
    margin-top: 6rem;
  }

  .email_booking_ctn {
    grid-template-columns: 1fr;
  }

  .booking_view_ctn_2 {
    margin-top: 0rem;
  }
}

@media (max-width: 37.5em) {
  .search_ctn {
    width: 100%;
  }
  .booking_list_ctn {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
