.container {
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-left: auto;
  margin-right: auto;

  margin-top: 18rem;
}

.container label {
  align-self: flex-start;
}

.container input {
  max-width: 40rem;
  border: none;
  border-bottom: 1px solid #e4e4e4;

  padding: 1.2rem 2.8rem 1.2rem 0.5rem;
  font-family: "Poppins" sans-serif;
  line-height: 1;
  letter-spacing: 0.8px;
}

.container input:focus {
  box-shadow: 0 1.5px 0 0 #1bbc9b;
}

.logo_ctn {
  margin: 1.8rem;
}

.btn {
  outline: none;
  padding: 1.4rem 2.8rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.btn_container {
  margin-top: 1.8rem;
}

.btn:hover {
  cursor: pointer;
}

form h2 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}
