.text_ctn {
  padding: 3.2rem 0.6rem;
  color: #434a54;
  font-size: 2rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.load_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 1.4rem;
}

.paginate_ctn {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1.2rem 0.6rem;
  color: #000;
}

.booking_list_ctn {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 110vh;
  min-height: 80vh;
}

.btn_ctn {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0.6rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  color: #fff;
  background-color: #434a54;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.review_card_ctn {
  padding: 1rem;
}

.review_card_ctn:hover {
  cursor: pointer;
}
