.section_load_ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50.8rem;
}

.user_section {
  max-height: inherit;
}

.filter_section {
  padding: 2.4rem 0.6rem;
  display: flex;
  gap: 2.6rem;
  margin-bottom: 2rem;
}

.sort_ctn {
  display: flex;
  align-items: center;
}

.sort_param_ctn select {
  padding: 0.6rem;
  border: 0.5px solid #6e6e6e;
  font-family: "Poppins", sans-serif;
}

.sort_param_ctn select:focus {
  outline: none;
}

.paginate_ctn {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1.2rem 0.6rem;
  color: #000;
}

.sortby {
  text-transform: uppercase;
  color: #000;
  /* font-size: 1.6rem; */
  font-weight: bold;
  display: inline-block;
  letter-spacing: 0.8px;
}

.ctn {
  /* width: 80%; */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 80vh;
}

.user_ctn {
  padding: 1.6rem;
  margin: 1.2rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear;
}

.user_ctn:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.user_img {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
}

.user_body_ctn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.user_body_name,
.user_body_info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.color {
  color: #000;
  font-weight: 500;
}

.font_size {
  font-size: 1.2rem;
}

.btn_ctn {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0.6rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  color: #fff;
  background-color: #434a54;
  border: none;
}

.btn:hover {
  cursor: pointer;
}
