.wrapper {
  height: 80vh;
  max-width: 135rem;
  margin-left: auto;
  margin-right: auto;
}

.ctn {
  margin-top: 9.6rem;
  display: flex;
  justify-content: center;
}

.ctn p {
  text-align: center;
}

.text_main {
  display: inline-block;
  width: 50%;

  margin-bottom: 1.8rem;

  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.2rem;
  letter-spacing: 5.4px;
  line-height: 4.5rem;
}

@media (max-width: 56.25em) {
  .text_main {
    width: 70%;
  }
}

@media (max-width: 37.5em) {
  .text_main {
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: 0 1rem 0 1rem;
    margin-top: 40%;
  }
}
