.wrapper {
  max-width: 135rem;
  height: 100vh;
  margin: 0 auto;
}

.wrapper,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_ctn {
  margin: 1.8rem;
}

.container {
  max-width: 60rem;
  width: 60rem;
}

.container_div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 80%;
}

.container_div h2 {
  font-size: 2.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form aside {
  margin-top: 1.5rem;
}

.form input {
  padding: 1.2rem 2.8rem 1.2rem 0.5rem;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  font-family: "Poppins" sans-serif;
  line-height: 1;
  letter-spacing: 0.8px;
}

.form input:focus {
  box-shadow: 0 1.5px 0 0 #1bbc9b;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}
