.loading {
  height: 80rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 60%;
  z-index: 99;
  padding: 3.4rem 2.4rem;
  max-width: 80rem;
  max-height: 100%;
  position: relative;
}

.close_ctn {
  padding: 0.6rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

.close_ctn:hover {
  cursor: pointer;
}

.container {
  padding: 1.6rem;
  margin-top: 2rem;
  overflow: scroll;
  width: 100%;
}

.enquiry_form {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}

.enquiry_form_fields {
  font: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  border: 0.1rem solid #e4e4e4;
  line-height: 2.4rem;
  color: inherit;
  /* letter-spacing: 2px; */
}

.form_field_ctn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.textarea_field {
  display: flex;
  align-items: flex-start;
}

.form_field_ctn input,
.form_field_ctn textarea {
  flex: 1;
}

.text_main {
  font-size: 2rem;
  color: #000;
  letter-spacing: 0.5px;
}

.typology_ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  flex: 1;
}

.typology {
  font-size: 1.6rem;
}

.typo_input {
  margin-left: 1rem;
}

.city_input_text_align {
  align-self: flex-start;
}

.itinerary_ctn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.day_plan_ctn {
  position: relative;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.color_black {
  color: #000;
  font-weight: 700;
}

.remove_icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4.2rem;
  color: #ff0000;
}

.remove_icon:hover {
  cursor: pointer;
}

.day_plan_add_ctn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.btn_dayplan_ctn {
  display: flex;
  gap: 1.6rem;
  margin-top: 1.6rem;
}

.btn_planadd_ctn {
  display: flex;
  justify-content: flex-end;
}

.featured_ctn {
  display: flex;
  align-self: flex-start;
  margin-bottom: 2.4rem;
  /* padding-left: 1.6rem; */
}

.feature_btn,
.featured {
  outline: 0.1px solid #e4e4e4;
  border: none;
  padding: 0.6rem;
  letter-spacing: 0.3px;
  font-weight: 700;
}

.feature_btn {
  background-color: #ffd205;
}

.feature_btn:hover {
  cursor: pointer;
}

.featured {
  background-color: #28a745;
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.spinner_ctn {
  align-self: flex-end;
}

.remove_img_btn {
  color: red;
}

.remove_img_btn:hover {
  cursor: pointer;
}

.action_btn_ctn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.selected_img_list {
  margin-top: 1.8rem;
  list-style: none;
  display: flex;
  gap: 1.4rem;
  font-size: 1.2rem;
}

@media (max-width: 50em) {
  .modal_ctn {
    width: 70%;
  }
}

@media (max-width: 37.5em) {
  .modal_ctn {
    width: 90%;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 41.5em) {
  .modal_ctn {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .modal_ctn {
    width: 90%;
  }
  .typology_ctn {
    grid-template-columns: 1fr;
  }
  .text_main {
    font-size: 1.6rem;
  }
  .container {
    padding: 1.6rem 0rem;
  }
  .form_field_ctn {
    gap: 1.4rem;
  }
  .enquiry_form {
    gap: 2.4rem;
  }
  .selected_img_list {
    flex-direction: column;
  }
}

@media (max-width: 22.5em) {
  .modal_ctn {
    width: 100%;
    padding: 3.4rem 1.6rem;
  }

  .remove_icon {
    font-size: 3rem;
  }
}
